{
	"presets": [
		["env", {
			"modules": false,
			"loose": true,
			"debug": false
		}]
	],
	"plugins": [
		"transform-es3-member-expression-literals",
		"transform-es3-property-literals"
	],
	"env": {
		"test": {
			"presets": ["env"]
		},
		"development": {
			"plugins": ["external-helpers"]
		}
	}
}
